/* Responsif */
@media (max-width: 1024px) {
    .projects-container {
        grid-template-columns: 1fr;
    }

    .skill-list {
        height: auto;
    }

    .projects-container::after {
        display: none;
    }
}

/* Responsif */
@media (max-width: 768px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .skills-grid {
        grid-template-columns: 1fr;
    }
}